*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
}
.footerDiv{
  background: radial-gradient(
    circle,
    rgba(236, 240, 253, 1) 35%,
    rgba(243, 221, 234, 1) 100%
  );
}
.footerDiv h3{
  font-family: "Kalam", cursive;
  color: #1d2e50;
}  


